body{

}

header{
  padding: 5px 20px 5px 20px;
  border: 2px inset red;
display: block;
font-weight: bold;
align: center;
}
h1{

}
nav{
padding: 5px 20px 5px 20px;
font-style: oblique;
font-weight: bold;
font-family: serif;
color: green;
text-decoration: line-through;
}
nav a{
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}
main{
font-family: sans-serif;


}

.brotherhood{
  padding: 5px 20px 5px 20px;
  border: 2px inset yellow;
}

.professional{
  padding: 5px 20px 5px 20px;
  border: 2px inset pink;
}

.service{
  padding: 5px 20px 5px 20px;
  border: 2px inset green;
}
